
# Build
data/
# Dependencies
dist
dist-ssr
.DS_Store
# Editor
.env
.env.*
# Env
!.env.example
.idea
*.local
# Local Zack data
*.log
# Logs / OS
node_modules
npm-debug.log*
.vscode/*
!.vscode/extensions.json
