# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Local Zack data
data/

# Logs / OS
.DS_Store
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.*
!.env.example
